<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
        aspernatur facilis sint, illo voluptatem ducimus iste aperiam fuga iusto
        itaque. Quia fuga enim a pariatur, alias itaque expedita neque?
        Blanditiis.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta
        perferendis in ullam nesciunt velit similique animi maiores molestiae
        optio! Pariatur laborum animi eius maiores. Suscipit, autem? Similique
        id vero quaerat.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
